<h1 mat-dialog-title>{{book.title}}</h1>
<mat-dialog-content>
    <div class="row">
        <div class="col">
            <img [src]="book.thumbnail" class="img">
        </div>
        <div class="col">
            <mat-list>
                <mat-list-item><b>Authors:</b> {{book.authors}}</mat-list-item>
                <mat-list-item><b>ISBN:</b> {{book.isbn}}</mat-list-item>
                <mat-list-item><b>Google ID:</b> {{book.google_id}}</mat-list-item>
            </mat-list>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <b>Description:</b> <br>
            {{book.description}}
        </div>
    </div>

</mat-dialog-content>
<mat-dialog-actions align="center">
    <button mat-raised-button color="primary" [mat-dialog-close]="true" cdkFocusInitial>Close</button>
</mat-dialog-actions>